<h2>Login</h2>

<form [formGroup]="loginForm" >
    
    <p>
        <mat-form-field appearance="standard">
            <input matInput formControlName="username" placeholder="Username" [ngClass]="{'is-invalid': submitted && f.username.errors}">
        </mat-form-field>
    </p>
    
    <p>
        <mat-form-field appearance="standard">
            <input matInput formControlName="password" placeholder="Password" [ngClass]="{'is-invalid': submitted && f.password.errors}">
        </mat-form-field>
    </p>

    <div class="form-group">
        <button mat-raised-button (click)="login()" class="btn btn-primary">
            Login
        </button>
        <button mat-raised-button (click)="goBack()">
            Go back
        </button>
    </div>
</form>


<div *ngIf="loggedIn==false">
    <button mat-raised-button (click)="createUser()">
        Create new user
    </button>
</div>

