table {
    width: 100%;

}

.header {
    font-weight: bolder;
    border-collapse: collapse;
}

button {
    margin: 10px;
}

.firstcolumn {
    background-color: lightseagreen;
    text-align: center;
}
.secondcolumn {
    background-color: teal;
    text-align: center;
}
.thirdcolumn {background-color: lightseagreen;}
.fourthcolumn {background-color: teal;}