.firstcolumn {
    background-color: lightseagreen;
}
.secondcolumn {
    background-color: teal;
    text-align: center;
}

.thirdcolumn {
    background-color: lightseagreen;
}

.centertext {
    text-align: center;
}