<h2>Add an activity to the workout</h2>

<form [formGroup]="activityForm" >
    <div class="form-group">
        <mat-form-field class="form_field" appearance="fill">
            <mat-label for="actDescription">Activity Description: </mat-label>
            <textarea matInput cdkTextareaAutosize formControlName="actDescription"></textarea>
            <mat-error *ngIf="f.actDescription.errors.required">Needs text if you want to submit</mat-error>
        </mat-form-field>
    </div>
    <div class="form-group">
        <button mat-raised-button (click)="goSubmit()" class="btn btn-primary">
            Submit
        </button>
        <button mat-raised-button  (click)="goBack()">
            Cancel
        </button>
    </div>
</form>


