button {
    margin: 10px;
}

table, tr {
    padding: 10px;
    margin: 10px;

}

.firstcolumn {
    background-color: lightseagreen;
    text-align: center;
}

.secondcolumn {
    background-color: teal;
    text-align: center;
}

.form-group {
    margin-left: auto;
    margin-right: auto;
}